<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de estudiantes</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/estudiantes}">Crud-Thymeleaf</a>
        <div class="d-flex">
            <a class="nav-link active" aria-current="page" href="#"> Opcion👍 </a>
            <a class="nav-link active" aria-current="page" href="#"> Opcion👌 </a>
        </div>
    </div>
</nav>
<div class="container">

    <div class="row">
        <h2>Lista de Estudiantes</h2>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/estudiantes/nuevo}" class="btn btn-dark btn-sm mb3">Guardar Estudiante</a>
        </div>
    </div>
    <br>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="estudiante : ${estudiantes}">
            <td th:text="${estudiante.nombre}">Nombre</td>
            <td th:text="${estudiante.apellido}">Apellido</td>
            <td th:text="${estudiante.email}">Email</td>
            <td>
                <a th:href="@{/estudiantes/editar/{id}(id=${estudiante.id})}" class="btn btn-secondary">Editar</a>
                <a th:href="@{/estudiantes/{id}(id=${estudiante.id})}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>